<div id="spotlight">
	<div class="row-fluid">
		<div class="span12">
			<h1>Instant Audience Feedback</h1>
			<h2>The readily available fail-safe live voting services with all features customizable.</h2>
			<div class="row-fluid">
				<div id="left-spot" class="span5">
					<ul id="spotlight-features">
						<li>
							<h3>Improve audience involvement</h3>
							<p>Large-scale audience participation feature.</p>
						</li>
						<li>
							<h3>Set up in seconds</h3>
							<p>Fast launch of new events.</p>
						</li>
						<li>
							<h3>Free trials for everything</h3>
							<p>Premier experience prior to purchasing our services.</p>
						</li>
					</ul>
					<%= link_to "signup" do %>
					<a class="btn-larger btn btn-primary" data-toggle="modal" href="#modal-signup" >Get started now</a>
					<% end %>
				</div>
				<div id="right-spot" class="span7">
					<div id="slide-wrapper">
						<div id="slides" class="thumbnail">
							<%= image_tag("placehold-it.gif")%>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="event-review">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div id="current-event" class="span6">
					<h3>Current Event</h3>
					<%= render :partial => "events/thumbnail", :locals => { :event => 'cmu' } %>
				</div>
				<div id="previous-event" class="span6">
					<h3>Previous Events</h3>
					<div class="carousel thumbnail">
						<!-- Carousel items -->
						<div class="carousel-inner">
							<div class="item active">
								<%= image_tag("harvard.jpg")%>
								<div class="caption">
									<h5>Zhenfund Harvard, 2011</h5>
								</div>
							</div>
							<div class="item">
								<%= image_tag("mit.jpg")%>
								<div class="caption">
									<h5>MITCHIEF, 2011</h5>
								</div>
							</div>
							<div class="item">
								<%= image_tag("iweekend.jpg")%>
								<div class="caption">
									<h5>iWeekend, 2011</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="vote-review">
	<div class="row-fluid">
		<div class="span12">
			<h3>Stream</h3>
		</div>
	</div>
</div>

<%= render :partial => 'index/signup' %>
