<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<title>Votinbox</title>
	<meta name="description" content="Votin’ Box is a pioneer solution to the lack of live online voting systems for educational organizations.">
	<meta name="author" content="Unit Interval Studio">
	<meta name="viewport" content="width=device-width">
	<%= stylesheet_link_tag "application", :media => "all" %>
	
	<%= csrf_meta_tags %>
</head>
<body>
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Votinbox</a>
				<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<div class="nav-collapse">
					<ul class="nav pull-right">
						<% if session[:user_id] %>
						<li><%= link_to "Dashboard", board_path %></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">cmusummit<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a data-toggle="modal" href="#modal-account" >Account Setting</a>
								</li>
								<li>
									<%= link_to "Sign out", "logout"%>
								</li>
							</ul>
						</li>
						<% else %>
						<li>
							<a data-toggle="modal" href="#modal-login" >Login</a>
						</li>
						<% end %>							
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	
	<%= render :partial => 'index/login' %>

	<div class="container-fluid">
		<% if flash[:notice] %>
		<div class="row-fluid">
			<div class="span12">
				<div class="alert">
					<a class="close" data-dismiss="alert">×</a>
					<strong>Notice!</strong> <%= flash[:notice] %>
				</div>
			</div>
		</div>
		<% end %>

		<%= yield %>

		<div class="footer">
			<div class="row-fluid">
				<div class="span12">
					<p class="pull-right"><a href="#">Back to top</a></p>
					<p>Copyright 2012 Unit Interval Studio</p>
				</div>
			</div>
		</div>

	</div> <!-- /container -->

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag "application" %>

</body>
</html>
